<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{color:!row.type}">{{row.id}}</td>
    </ng-container>


    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{color:!row.type}">{{row.date | date:'dd/M/yyyy'}}</td>
    </ng-container>


    <!-- Achats Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{color:!row.type}">
        <ng-container *ngIf="row.type">
          <div>
            debit
          </div>
        </ng-container>
        <ng-container *ngIf="!row.type">
          <div>
            credit
          </div>
        </ng-container>
      </td>
    </ng-container>



    <!-- Description Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{color:!row.type}">{{row.name}}</td>
    </ng-container>


    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{color:!row.type}">
      <ng-container *ngIf="row.category">
        {{row.category.name}}
        </ng-container>
      </td>
    </ng-container>


    <!-- Achats Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{color:!row.type}">{{row.price}} €</td>
    </ng-container>


    <!-- Total Column -->
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row" [ngClass]="{color:!row.type}">{{row.button}}<button type="button" class="btn btn-warning"
          (click)="deleteOperation(row)">Delete</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <mat-divider></mat-divider>
  <mat-list-item>
    <div id="total"> TOTAL : {{credit - debit}} €</div>
  </mat-list-item>
  <mat-divider></mat-divider>


  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[3, 6, 9, 12]">
  </mat-paginator>
</div>
