.mat-elevation-z8 {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 16px 16px 16px;
}

.mat-header-cell {
    width: 25%;
   
} 



.mat-cell{
  background-color: rgb(255, 0, 0, 0.1)
}



#total {
  padding: 20px;
}