.grid-container {
  margin: 20px;
}

.example-card {
  margin-bottom: 50px;

}
/* 
.card {
  margin: 20px;
} */


.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}


