<div class="grid-container grid">
  <h1 class="mat-h1">Panel Admin</h1>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-card class="example-card">
      <app-form-operation (forSubmit)="addOperation($event)"></app-form-operation>
    </mat-card>
  </mat-grid-list>
</div>



<div class="grid-container grid">
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-card class="example-card">
      <app-compte-chart></app-compte-chart>
    </mat-card>
  </mat-grid-list>
</div>



<div class="container">
  <div class="row">
    <div class="col-6 m-2 card">
      <app-credit-chart></app-credit-chart>
    </div>

    <div class="col-6 m-2 card">
      <app-debit-chart></app-debit-chart>
    </div>
  </div>
</div>




<!--

<div class="grid-container grid">
  <mat-grid-list cols="2" rowHeight="1:1" class="grid">
    <mat-grid-tile>
      <mat-card class="example-card">
        <app-credit-chart></app-credit-chart>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">

        <app-debit-chart></app-debit-chart>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>

-->